.poke {
  //display: none;
  margin: 25px;
  padding-left: 20px;
}
.pokeItem {
  box-sizing: border-box;
  text-align: left;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.pokeTitleLarge {
  width: 90pc;
}
.pokeTitleMinimized {
  width: 50pc;
}
.actionOptionArrow {
  padding-top: 2%;
}
.collapse {
  position: relative;
  display: flex;
  overflow: hidden;
  transition: 0.4s max-width;
}
.collapse > div {
  overflow: auto;
}
.pokeBase{
  position: relative;
  padding: .5rem 1rem;
  color: #212529;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125) !important;
}
.hbox {
  display: flex;
  flex-direction: row !important;
  position: relative;
}